parameters:
	ignoreErrors:
		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::chgrp() has parameter $paths with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::chmod() has parameter $paths with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::chown() has parameter $paths with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::exists() has parameter $paths with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::mkdir() has parameter $dirs with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::remove() has parameter $paths with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Method Fight\Common\Adapter\Filesystem\SymfonyFilesystem::touch() has parameter $files with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Adapter/Filesystem/SymfonyFilesystem.php

		-
			rawMessage: 'Property Fight\Common\Adapter\HttpClient\Guzzle\GuzzlePromise::$request is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: src/Adapter/HttpClient/Guzzle/GuzzlePromise.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\ArrayList::replace() has parameter $items with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Domain/Collection/ArrayList.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\ItemList::replace() has parameter $items with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Domain/Collection/Contract/ItemList.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\OrderedSet::complement() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/OrderedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\OrderedSet::difference() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/OrderedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\OrderedSet::intersection() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/OrderedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\OrderedSet::union() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/OrderedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\Set::complement() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/Set.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\Set::difference() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/Set.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\Set::intersection() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/Set.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Contract\Set::union() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Contract/Set.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\HashSet::complement() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/HashSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\HashSet::difference() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/HashSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\HashSet::intersection() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/HashSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\HashSet::union() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\Set but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/HashSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\SortedSet::complement() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/SortedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\SortedSet::difference() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/SortedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\SortedSet::intersection() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/SortedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\SortedSet::union() has parameter $other with generic interface Fight\Common\Domain\Collection\Contract\OrderedSet but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/SortedSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Collection\Tree\RedBlackSearchTree::fillKeys() has parameter $list with generic interface Fight\Common\Domain\Collection\Contract\ItemList but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Collection/Tree/RedBlackSearchTree.php

		-
			rawMessage: 'Method Fight\Common\Domain\Repository\ResultSet::__construct() has parameter $records with generic class Fight\Common\Domain\Collection\ArrayList but does not specify its types: T'
			identifier: missingType.generics
			count: 1
			path: src/Domain/Repository/ResultSet.php

		-
			rawMessage: 'Method Fight\Common\Domain\Utility\Validate::isOneOf() has parameter $choices with no value type specified in iterable type iterable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Domain/Utility/Validate.php
